{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app">
	<head lang="ru">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Главная</title>

		<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/angular-chart/angular-chart.css' %}" />

		<script type="text/javascript">
			var template_dirs = "{% static 'js' %}";
			var user_id = "{{ user_id }}";
		</script>
	</head>
	<body>

		<ui-view></ui-view>

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'node_modules/angular/angular.js' %}"></script>
	    <script src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.js' %}"></script>
	    <script src="{% static 'node_modules/angular-resource/angular-resource.js' %}"></script>
		<script src="{% static 'node_modules/angular-cookies/angular-cookies.js' %}"></script>
		<script src="{% static 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>
		<script src="{% static 'node_modules/chart.js/Chart.js' %}"></script>
		<script src="{% static 'node_modules/angular-chart.js/angular-chart.js' %}"></script>
	    <script src="{% static 'js/app.js' %}"></script>
	    <script src="{% static 'js/main/main.ctrl.js' %}"></script>
	    <script src="{% static 'js/main/main.fac.js' %}"></script>
	    <script src="{% static 'js/logout/logout.ctrl.js' %}"></script>
	    <script src="{% static 'js/logout/logout.fac.js' %}"></script>
	    <script src="{% static 'js/login/login.ctrl.js' %}"></script>
	    <script src="{% static 'js/login/login.fac.js' %}"></script>
	    <script src="{% static 'js/registration/reg.ctrl.js' %}"></script>
	    <script src="{% static 'js/registration/reg.fac.js' %}"></script>
	    <script src="{% static 'js/registration/reg.dir.js' %}"></script>
	    <script src="{% static 'js/profile/profile.ctrl.js' %}"></script>
	    <script src="{% static 'js/profile/profile.fac.js' %}"></script>
	    <script src="{% static 'js/bodysize/bodysize.ctrl.js' %}"></script>
	    <script src="{% static 'js/diary/diary.ctrl.js' %}"></script>
	    <script src="{% static 'js/diary/diary.fac.js' %}"></script>
	    <script src="{% static 'js/common/factories/bodysize.fac.js' %}"></script>
	    <script src="{% static 'js/common/factories/category.fac.js' %}"></script>
	    <script src="{% static 'js/common/factories/exercise.fac.js' %}"></script>
	    <script src="{% static 'js/add_day/add_day.ctrl.js' %}"></script>
	    <script src="{% static 'js/add_day/add_day.fac.js' %}"></script>
	    <script src="{% static 'js/view_day/view_day.ctrl.js' %}"></script>
	    <script src="{% static 'js/exercises/add_exercise.ctrl.js' %}"></script>
	    <script src="{% static 'js/exercises/edit_exercise.ctrl.js' %}"></script>
	</body>
</html>