{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <script type="text/javascript">
    	var template_dirs = "{% static 'templates' %}";
    	var user_id = "{{ user_id }}";
    </script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container" ng-controller="NavController">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">KACHALKA</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">
					<li><a href="#/">ГЛАВНАЯ</a></li>
					<li><a href="#/diary">ДНЕВНИК</a></li>
					<li><a href="#">УПРАЖНЕНИЯ</a></li>
					<li><a href="#">ПРОФИЛЬ</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!auth"><a href="#/reg">РЕГИСТРАЦИЯ</a></li>
					<li ng-if="!auth"><a href="#/login">ВХОД</a></li>
					<li ng-if="auth"><a href="#/logout">ВЫХОД</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
    	<div class="row">
    		<ng-view></ng-view>
    	</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/angular/libs/angular.js' %}"></script>
    <script src="{% static 'js/angular/libs/angular-route.js' %}"></script>
    <script src="{% static 'js/angular/libs/angular-resource.min.js' %}"></script>
	<script src="{% static 'js/angular/libs/angular-cookies.js' %}"></script>
	<script src="{% static 'js/angular/libs/ui-bootstrap-tpls-0.13.4.min.js' %}"></script>
    <script src="{% static 'js/angular/app.js' %}"></script>
</body>
</html>