<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-success btn-block" ng-click="addDayTraining()">Добавить</button>
    </div>
    <div class="col-md-9">
        <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-xs" ng-click="monthDecrement()"><< прошлый месяц</a>
            <a class="btn btn-primary btn-xs pull-right" ng-click="monthIncrement()">следующий месяц >></a>
        </div>
            </div>
        <div ng-repeat="(date, items) in sets" class="panel panel-default">
            <div class="panel-heading">{$ date | date: 'dd.MM.yyyy' $}
                <a class="btn btn-primary btn-xs pull-right" ng-click="dayLocation(date)">изменить</a>
            </div>
            <div class="panel-body">
                <div ng-repeat="set in items">
                    <span class="inline">{$ set.items.exercise_name $}</span>
                    <table class="table table-striped table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th>Вес</th>
                                <th ng-repeat="rep in set.items.repeats">
                                    {$ rep.weight $}
                                </th>
                            </tr>
                            <tr>
                                <th>Повторения</th>
                                <th ng-repeat="rep in set.items.repeats">
                                    {$ rep.repeats $}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
